@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudSnackbarProvider />

<MudLayout>

    <MudLayout.AppBar>
        <MudAppBar Color="Color.Primary" Elevation="1">
            <MudIconButton Icon="@Icons.Material.Filled.Menu"
                           Color="Color.Inherit"
                           Edge="Edge.Start"
                           OnClick="ToggleDrawer" />
            <MudText Typo="Typo.h6" Class="ml-2">Team Management</MudText>
        </MudAppBar>
    </MudLayout.AppBar>

    <MudLayout.Drawer>
        <MudDrawer @bind-Open="_drawerOpen"
                   ClipMode="DrawerClipMode.Always"
                   Variant="DrawerVariant.Responsive"
                   Elevation="1"
                   Class="mud-width-260">
            <MudNavMenu>
                <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">
                    Home
                </MudNavLink>
                <MudNavLink Href="/departments" Icon="@Icons.Material.Filled.Groups">
                    Departments
                </MudNavLink>
            </MudNavMenu>
        </MudDrawer>
    </MudLayout.Drawer>

    <MudLayout.MainContent>
        <MudMainContent Class="pt-4">
            <div class="mt-3 pt-5">
                @Body
            </div>
        </MudMainContent>
    </MudLayout.MainContent>

</MudLayout>

@code {
    private bool _drawerOpen;

    private void ToggleDrawer()
    {
        _drawerOpen = !_drawerOpen;
    }
}