@using fabsg0.Web.TeamManagement.Blazor.Components.CustomComponents
@using fabsg0.Web.TeamManagement.Blazor.Entities
@using fabsg0.Web.TeamManagement.Blazor.Providers
@inject MemberProvider MemberProvider
@inject ILogger<CreateMemberPopup> Logger

<Popup OnClose="OnClose" Title="Create member">
    <EditForm Model="@_member" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <InputText id="firstName" class="form-control" @bind-Value="_member.FirstName" />
            <ValidationMessage For="@(() => _member.FirstName)" />
        </div>

        <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <InputText id="lastName" class="form-control" @bind-Value="_member.LastName" />
            <ValidationMessage For="@(() => _member.LastName)" />
        </div>

        <div class="mb-3">
            <label for="birthdate" class="form-label">Birthdate</label>
            <InputDate id="birthdate" class="form-control" @bind-Value="_member.Birthdate" />
            <ValidationMessage For="@(() => _member.Birthdate)" />
        </div>

        <div class="mb-3">
            <label for="street" class="form-label">Street</label>
            <InputText id="street" class="form-control" @bind-Value="_member.Street" />
        </div>

        <div class="mb-3">
            <label for="houseNumber" class="form-label">House Number</label>
            <InputText id="houseNumber" class="form-control" @bind-Value="_member.HouseNumber" />
        </div>

        <div class="mb-3">
            <label for="zipCode" class="form-label">Zip Code</label>
            <InputNumber id="zipCode" class="form-control" @bind-Value="_member.ZipCode" />
        </div>

        <div class="mb-3">
            <label for="city" class="form-label">City</label>
            <InputText id="city" class="form-control" @bind-Value="_member.City" />
        </div>

        <button type="submit" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-danger" @onclick="OnClose">Cancel</button>
    </EditForm>
</Popup>

@code {

    [Parameter] public EventCallback OnClose { get; set; }

    private Member _member = new();

    private async Task HandleValidSubmit()
    {
        try
        {
            await MemberProvider.CreateMember(_member);
            await OnClose.InvokeAsync();
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Failed to create member.");
        }
    }

}